* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
What happens when we set the display property to flex? 
TODO: Write your answer here 
it is set to the navigation bar so it won't overlap
if set to flex, the element becomes flexible
*/
nav {
  display: flex;
  background-color: #d8a47f;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* 
What is the flex-wrap property? 
TODO: Write your answer here 
The flex-wrap property sets the element in a way that it will take up as much width as possible, 
if it runs out of space it will move over to the next line
display flex is applied to the childern elements
only works if display is set to flex
*/
main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 1;
  background-color: #b9c6ae;
  padding: 80px;
  text-align: center;
}


footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
What does the justify-content property do? 
TODO: Write your answer here 
Justify-content property will help align elements horizontally in a certain pattern
ie. space between, around, center
Makes sure child elements are using a flex display or this won't work
*/
.products {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* 
What is the flex property a shorthand property for?
What is it doing here? 
TODO: Write your answer here 
Flex property's first number reflects flex grow, second flex shrink, flex basis
Flex basis sets initial size of certain elements
*/
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}

/* 
What does the flex-direction property define?
What is it doing here? 
TODO: Write your answer here 
Flex-direction property tells the elemnts which way to flex, either vertically or horizontally
stack them or spread them out
*/
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
